{% extends 'base.html' %}

{% block title %}
Cadastro
{% endblock %}

{% block body %}

<form method="POST" style="text-align: center;">
    {{ form.csrf_token }}
    {{ form.nome.label }} <br/> {{ form.nome(size=20) }}<br/>
    {{ form.sobrenome.label }} <br/> {{ form.sobrenome(size=20) }}<br/>
    {{ form.email.label }} <br/> {{ form.email(size=20) }}<br/>
    {{ form.senha.label }} <br/> {{ form.senha(size=20) }}<br/>
    {{ form.confirm.label }} <br/> {{ form.confirm(size=20) }}<br/>
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>

{% endblock %}